body {
			background-color: rgb(0, 191, 255);
		}
		#AI {
			color:blue;
			font-family: game of squids;
		}

		#info-ai {
			color:rgb(0, 255, 242);
			background-color:rgb(0, 30, 255);
			font-family: aquire;
			padding:5.5px;
			line-height: 2em;
			letter-spacing: 2px;
			border-radius: 10px;
			border: 8px ridge rgb(107,66,255);
			box-shadow: 7px 7px 200px rgb(132, 66, 245);
		}
		#para-2 {
			padding-top: 10px;
			background-color: rgb(161, 66, 255);
			font-family: aquire;
			padding:5.5px;
			line-height: 2em;
			letter-spacing: 2px;
			color:rgb(0, 255, 242);
			border-radius: 10px;
			box-shadow: 7px 7px 200px rgb(132, 66, 245);
			border: 8px ridge rgb(157, 0, 255);

		}
		#ai-img {

			border: 8px ridge rgb(107,66,255);

		}